<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <meta charset="UTF-8">
    <title>Show Next Question</title>
</head>

<body>

<div layout:fragment="content">

    <div>
        <th:block>

            <td th:text="${question.question}"></td>

            <form th:action="@{/question}" method="POST">
                <button type="submit" th:name="answerFromPlayer" th:value="A">
                    <td th:text="${question.answerA}">
                </button>
            </form>

            <form th:action="@{/question}" method="POST">
                <button type="submit" th:name="answerFromPlayer" th:value="B">
                    <td th:text="${question.answerB}">
                </button>
            </form>

            <form th:action="@{/question}" method="POST">
                <button type="submit" th:name="answerFromPlayer" th:value="C">
                    <td th:text="${question.answerC}">
                </button>
            </form>

            <form th:action="@{/question}" method="POST">
                <button type="submit" th:name="answerFromPlayer" th:value="D">
                    <td th:text="${question.answerD}">
                </button>
            </form>

        </th:block>

        <form th:action="@{/question}" method="GET">
            <button type="submit">
               Next Question
            </button>
        </form>
    </div>
</div>

</body>

</html>